---
import Layout from '../layouts/Layout.astro';
import App from '../components/App.astro';
---
<Layout title="Cloudflare Sandbox">
	<main class="container">
		<h1>SF Tech Events Table</h1>
		<App />
	</main>
</Layout>
